<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Core>
            <version>0.1.0</version>
        </Validoc_Core>
    </modules>
    <global>
        <models>
            <validoc_core>
                <class>Validoc_Core_Model</class>
                <resourceModel>validoc_core_resource</resourceModel>
            </validoc_core>
            <validoc_core_resource>
                <class>Validoc_Core_Model_Resource</class>
            </validoc_core_resource>
            <core>
                <rewrite>
                    <layout>Validoc_Core_Model_Layout</layout>
                </rewrite>
            </core>
        </models>
        <blocks>
            <validoc_core>
                <class>Validoc_Core_Block</class>
            </validoc_core>
        </blocks>
        <helpers>
            <validoc_core>
                <class>Validoc_Core_Helper</class>
            </validoc_core>
        </helpers>
        <resources>
            <validoc_core_setup>
                <setup>
                    <module>Validoc_Core</module>
                </setup>
            </validoc_core_setup>
        </resources>
    </global>
</config>