<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Floorplan>
            <version>0.1.6</version>
        </Validoc_Floorplan>
    </modules>
    <global>
        <models>
            <validoc_floorplan>
                <class>Validoc_Floorplan_Model</class>
                <resourceModel>validoc_floorplan_resource</resourceModel>
            </validoc_floorplan>
            <validoc_floorplan_resource>
                <class>Validoc_Floorplan_Model_Resource</class>
                <entities>
                    <floorplan>
                        <table>validoc_floorplan</table>
                    </floorplan>
                    <!--floorplan_image>
                        <table>validoc_floorplan_image</table>
                    </floorplan_image>
                    <floorplan_image_flag>
                        <table>validoc_floorplan_image_flag</table>
                    </floorplan_image_flag-->
                    <floorplan_category>
                        <table>validoc_floorplan_category</table>
                    </floorplan_category>
		    <floorplan_product>
		        <table>validoc_floorplan_product</table>
		    </floorplan_product>
                </entities>
            </validoc_floorplan_resource>
        </models>
        <blocks>
            <validoc_floorplan>
                <class>Validoc_Floorplan_Block</class>
            </validoc_floorplan>
        </blocks>
        <helpers>
            <validoc_floorplan>
                <class>Validoc_Floorplan_Helper</class>
            </validoc_floorplan>
        </helpers>
        <resources>
            <validoc_floorplan_setup>
                <setup>
                    <module>Validoc_Floorplan</module>
                    <class>Validoc_Floorplan_Model_Resource_Setup</class>
                </setup>
            </validoc_floorplan_setup>
            <validoc_floorplan_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </validoc_floorplan_write>
            <validoc_floorplan_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </validoc_floorplan_read>
        </resources>
        <!--<events>-->
            <!--<controller_front_init_routers>-->
                <!--<observers>-->
                    <!--<blog>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Validoc_Floorplan_Controller_Router</class>-->
                        <!--<method>initControllerRouters</method>-->
                    <!--</blog>-->
                <!--</observers>-->
            <!--</controller_front_init_routers>-->
        <!--</events>-->
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <validoc_floorplan before="Mage_Adminhtml">Validoc_Floorplan_Adminhtml</validoc_floorplan>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <validoc_floorplan>
                    <file>validoc/floorplan.xml</file>
                </validoc_floorplan>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <validoc_floorplan>
                <use>standard</use>
                <args>
                    <module>Validoc_Floorplan</module>
                    <frontName>designer-floorplan</frontName>
                </args>
            </validoc_floorplan>
        </routers>
        <layout>
            <updates>
                <validoc_floorplan>
                    <file>validoc/floorplan.xml</file>
                </validoc_floorplan>
            </updates>
        </layout>
    </frontend>
</config>
