.grid-preview .inner div img{
	max-width: 100%;
	max-height: 100%;
	min-height: 300px;
}
.grid-preview .inner div p{
	margin-top: 40px;
	font-size: 1.5em;
	color: #adadad;
	font-family: 'Georgia';
	font-style: italic;
}
.grid-preview .inner div{
	text-align: center;
}

/* */
.loading {
	display: inline-block;
	margin-top: 0;
	margin-left: 0;
	font-size: 20px;
	position: absolute;
	left: 0;
	top: 60px;
	font-family: sans-serif;
}
.ball {
	display: inline-block;
	height: 30px;
	width: 30px;
	background-color: #e74c3c;
	border-radius: 50%;
	box-shadow:inset 6px -10px 50px -20px #000;
	animation: loading 1s infinite;
}


@keyframes loading {
  0%, 100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
  }
}
/* resizing always visible */
.gs-resize-handle, .gs-w.dragging .gs-resize-handle{
	opacity: 1;
}
.gs-resize-handle.gs-resize-handle-both{
	background-size: 10px;
}
/* not available styles */
.not-available{
	padding-top: 10px;
	padding-left: 20px;
}
.not-available h3{
	color: #eb5e00;
	font-size: 2.5em;
	font-family: 'Georgia';
	font-weight: 500;
}
.not-available p{
	font-size: 1.5em;
	font-family: 'Georgia';
	line-height: 1.5;
}