<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Board>
            <version>0.1.5</version>
        </Validoc_Board>
    </modules>
    <global>
        <models>
            <validoc_board>
                <class>Validoc_Board_Model</class>
                <resourceModel>validoc_board_resource</resourceModel>
            </validoc_board>
            <validoc_board_resource>
                <class>Validoc_Board_Model_Resource</class>
                <entities>
                    <board>
                        <table>validoc_board</table>
                    </board>
                    <board_image>
                        <table>validoc_board_image</table>
                    </board_image>
                    <board_image_flag>
                        <table>validoc_board_image_flag</table>
                    </board_image_flag>
                    <board_category>
                        <table>validoc_board_category</table>
                    </board_category>
                </entities>
            </validoc_board_resource>
        </models>
        <blocks>
            <validoc_board>
                <class>Validoc_Board_Block</class>
            </validoc_board>
        </blocks>
        <helpers>
            <validoc_board>
                <class>Validoc_Board_Helper</class>
            </validoc_board>
        </helpers>
        <resources>
            <validoc_board_setup>
                <setup>
                    <module>Validoc_Board</module>
                    <class>Validoc_Board_Model_Resource_Setup</class>
                </setup>
            </validoc_board_setup>
            <validoc_board_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </validoc_board_write>
            <validoc_board_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </validoc_board_read>
        </resources>
        <!--<events>-->
            <!--<controller_front_init_routers>-->
                <!--<observers>-->
                    <!--<blog>-->
                        <!--<type>singleton</type>-->
                        <!--<class>Validoc_Board_Controller_Router</class>-->
                        <!--<method>initControllerRouters</method>-->
                    <!--</blog>-->
                <!--</observers>-->
            <!--</controller_front_init_routers>-->
        <!--</events>-->
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <validoc_board before="Mage_Adminhtml">Validoc_Board_Adminhtml</validoc_board>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <validoc_board>
                    <file>validoc/board.xml</file>
                </validoc_board>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <validoc_board>
                <use>standard</use>
                <args>
                    <module>Validoc_Board</module>
                    <frontName>designer-board</frontName>
                </args>
            </validoc_board>
        </routers>
        <layout>
            <updates>
                <validoc_board>
                    <file>validoc/board.xml</file>
                </validoc_board>
            </updates>
        </layout>
    </frontend>
</config>