<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Fabric>
            <version>0.1.4</version>
        </Validoc_Fabric>
    </modules>
    <global>
        <models>
            <validoc_fabric>
                <class>Validoc_Fabric_Model</class>
                <resourceModel>validoc_fabric_resource</resourceModel>
            </validoc_fabric>
            <validoc_fabric_resource>
                <class>Validoc_Fabric_Model_Resource</class>
                <entities>
                    <fabric>
                        <table>validoc_fabric</table>
                    </fabric>
                    <fabric_image>
                        <table>validoc_fabric_image</table>
                    </fabric_image>
                    <fabric_image_flag>
                        <table>validoc_fabric_image_flag</table>
                    </fabric_image_flag>
                </entities>
            </validoc_fabric_resource>
        </models>
        <blocks>
            <validoc_fabric>
                <class>Validoc_Fabric_Block</class>
            </validoc_fabric>
        </blocks>
        <helpers>
            <validoc_fabric>
                <class>Validoc_Fabric_Helper</class>
            </validoc_fabric>
        </helpers>
        <resources>
            <validoc_fabric_setup>
                <setup>
                    <module>Validoc_Fabric</module>
                    <class>Validoc_Fabric_Model_Resource_Setup</class>
                </setup>
            </validoc_fabric_setup>
            <validoc_fabric_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </validoc_fabric_write>
            <validoc_fabric_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </validoc_fabric_read>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <validoc_fabric before="Mage_Adminhtml">Validoc_Fabric_Adminhtml</validoc_fabric>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <validoc_fabric>
                    <file>validoc/fabric.xml</file>
                </validoc_fabric>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <validoc_fabric>
                <use>standard</use>
                <args>
                    <module>Validoc_Fabric</module>
                    <frontName>fabric</frontName>
                </args>
            </validoc_fabric>
        </routers>
        <layout>
            <updates>
                <validoc_fabric>
                    <file>validoc/fabric.xml</file>
                </validoc_fabric>
            </updates>
        </layout>
    </frontend>
</config>