<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Designer>
            <version>0.1.6</version>
        </Validoc_Designer>
    </modules>
    <global>
        <models>
            <validoc_designer>
                <class>Validoc_Designer_Model</class>
                <resourceModel>validoc_designer_resource</resourceModel>
            </validoc_designer>
            <validoc_designer_resource>
                <class>Validoc_Designer_Model_Resource</class>
                <entities>
                    <designer>
                        <table>validoc_designer</table>
                    </designer>
                    <designer_image>
                        <table>validoc_designer_image</table>
                    </designer_image>
                    <designer_image_flag>
                        <table>validoc_designer_image_flag</table>
                    </designer_image_flag>
                </entities>
            </validoc_designer_resource>
        </models>
        <blocks>
            <validoc_designer>
                <class>Validoc_Designer_Block</class>
            </validoc_designer>
        </blocks>
        <helpers>
            <validoc_designer>
                <class>Validoc_Designer_Helper</class>
            </validoc_designer>
        </helpers>
        <resources>
            <validoc_designer_setup>
                <setup>
                    <module>Validoc_Designer</module>
                    <class>Validoc_Designer_Model_Resource_Setup</class>
                </setup>
            </validoc_designer_setup>
            <validoc_designer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </validoc_designer_write>
            <validoc_designer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </validoc_designer_read>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <validoc_designer before="Mage_Adminhtml">Validoc_Designer_Adminhtml</validoc_designer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <validoc_designer>
                    <file>validoc/designer.xml</file>
                </validoc_designer>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <routers>
            <validoc_designer>
                <use>standard</use>
                <args>
                    <module>Validoc_Designer</module>
                    <frontName>designers</frontName>
                </args>
            </validoc_designer>
        </routers>
        <layout>
            <updates>
                <validoc_designer>
                    <file>validoc/designer.xml</file>
                </validoc_designer>
            </updates>
        </layout>
    </frontend>
</config>