<?xml version="1.0"?>
<config>
    <modules>
        <Validoc_Catalog>
            <version>0.1.5</version>
        </Validoc_Catalog>
    </modules>
    <global>
        <models>
            <validoc_catalog>
                <class>Validoc_Catalog_Model</class>
                <resourceModel>validoc_catalog_resource</resourceModel>
            </validoc_catalog>
            <validoc_catalog_resource>
                <class>Validoc_Catalog_Model_Resource</class>
            </validoc_catalog_resource>
            <catalog>
                <rewrite>
                    <product>Validoc_Catalog_Model_Product</product>
                    <category>Validoc_Catalog_Model_Category</category>
                    <category_attribute_source_mode>Validoc_Catalog_Model_Category_Attribute_Source_Mode</category_attribute_source_mode>
                </rewrite>
            </catalog>
            <catalog_resource>
                <rewrite>
                    <category>Validoc_Catalog_Model_Resource_Category</category>
                </rewrite>
            </catalog_resource>
        </models>
        <blocks>
            <validoc_catalog>
                <class>Validoc_Catalog_Block</class>
            </validoc_catalog>
            <catalog>
                <rewrite>
                    <category_view>Validoc_Catalog_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <validoc_catalog>
                <class>Validoc_Catalog_Helper</class>
            </validoc_catalog>
            <catalog>
                <rewrite>
                    <data>Validoc_Catalog_Helper_Data</data>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <validoc_catalog_setup>
                <setup>
                    <module>Validoc_Catalog</module>
                </setup>
            </validoc_catalog_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <validoc_catalog before="Mage_Catalog">Validoc_Catalog</validoc_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
</config>